body {
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: absolute;
  top: 0;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.configContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.componentContainer {
  width: 50%;
  border: 1px solid black;
  padding: 50px;
  border-radius: 10px;
}

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
}

.positionIndex {
  display: flex;
  flex-direction: column;
}

.positionIndex img {
  width: 15px;
  height: 15px;
}

.positionIndex img:hover {
  cursor: pointer;
}

label {
  margin: 5px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

button {
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(68, 68, 68);
  color: white;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: 0.2s;
}

.verticalNav {
  border-right: 1px solid #004cff;
}

.horizonalNav {
  border-bottom: 1px solid #004cff;
}